h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  object-fit: contain;
}

.container {
  background: linear-gradient(#8ca6db, #b993d6);
  min-height: 100vh;
}
