.container {
  min-height: calc(100vh - 50px);
  padding: 20px 50px 50px 50px;
}

.title {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.load-more {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: white;
  background-color: rgba(91, 111, 239, 0.7);
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.load-more:hover {
  background-color: rgba(104, 27, 193, 0.5);
}
